@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000;
}

.image__bg{
  background-image: url(../../assets/img/image-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 80px;
}

.container{
  max-width: calc(1285px + 30px);
  padding: 0 15px;
  margin: 0 auto;
}


/* header */

.header{
  padding: 40px 0;
}
.header__row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header__logo{
  display: flex;
  flex-direction: column;
  color: #000;
  gap: 5px;
}
.header__logo > span:first-child{
  font-weight: 400;
  font-size: 22px;
}
.header__logo > span:last-child{
  font-weight: 300;
  font-size: 16px;
}

.header__nav > ul{
  display: flex;
  gap: 50px;
}
.header__nav > ul > li > a{
  padding-bottom: 5px;
  position: relative;
}
.header__nav > ul > li > a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: all 0.3s ease;
}
.header__nav > ul > li:hover > a::after{
  width: 100%;
}
.header__nav > ul > li > a.active::after{
  width: 100%;
}
.header__nav > ul > li > a{
  color: #000;
  font-weight: 300;
  font-size: 16px;
}

.header__contact{
  display: flex;
  flex-direction: column;
  gap: 5px;

}
.header__contact > a{
  color: #000;
  font-weight: 400;
  font-size: 22px;
}
.header__contact > span{
  font-size: 14px;
}

.header .mobile-nav-btn {
  display: none;
}

.header .mobile-nav-btn .nav-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 30px;
  cursor: pointer;
}
.header .mobile-nav-btn .nav-icon span {
  transition: all 0.2s ease;
  height: 2px;
  border-radius: 10px;
  width: 100%;
  background-color: #C0A381;
}
.header .mobile-nav-btn .nav-icon.active span:nth-child(1) {
  transform: rotate(45deg) translateY(5px) translateX(7px);
}
.header .mobile-nav-btn .nav-icon.active span:nth-child(2) {
  opacity: 0;
}
.header .mobile-nav-btn .nav-icon.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-5px) translateX(7px);
}

.menu {
  height:100%;
  width:100%;
  z-index:9999;
  display:none;
  text-align:center;
  padding: 30px 0 15px;
}
.menu > li {
  padding-bottom: 5px;
  list-style-type: none;
  margin-bottom: 20px;
}
.menu > li::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: all 0.3s ease;
}
.menu > li.active::after{
  width: 100%;
}
.menu > li > a{
  position: relative;
  color: #000;
  font-weight: 300;
  font-size: 20px;
}
.menu > li > a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: all 0.3s ease;
}
.menu > li.active > a::after{
  width: 100%;
}


@media (max-width: 1080px) {
  .header__nav{
    display: none;
  }

  .header .mobile-nav-btn {
    display: block;
  }
  .header__nav{
    display: none;
  }
  .header__contact{
    flex: 1;
    align-items: flex-end;
  }
}
@media (max-width: 500px) {
  .header__logo span:nth-child(1){
    font-size: 18px;
  }
  .header__logo span:nth-child(2){
    font-size: 13px;
  }
  .header__contact > a{
    font-size: 18px;
  }
  .header__contact > span{
    font-size: 10px;
  }
}
@media (max-width: 374px) {
  .header__contact{
    display: none;
  }
}

/* header */

/* about */


.about{
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 35px;
}


.about__item{
  border-radius: 15px;
  overflow: hidden;
}
.about__item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__item-1 { grid-area: 1 / 1 / 3 / 2; }
.about__item-2 { grid-area: 1 / 2 / 2 / 3; }
.about__item-3 { grid-area: 2 / 2 / 3 / 3; }
.about__item-4 {
  grid-area: 1 / 3 / 3 / 4;

  border-radius: 8px;
  background-color: #E8DED2;
  padding: 45px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.about__item-4 > h1{
  font-weight: 400;
  font-size: 35px;

  display: block;
}
.about__item-4 > p{
  font-weight: 300;
  font-size: 22px;
  line-height: 120%;
  display: block;
  flex: 1;
}
.about__item-4 > .btn{
  display: block;

  padding: 15px;
  background-color: #C0A381;
  border-radius: 8px;
  color: #000;
  font-size: 20px;
  text-align: center;
  transition: all .2s ease;
}
.about__item-4 > .btn:hover{
  background-color: #e1c19c;
}


@media (max-width: 1080px) {
  .about{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
  .about__item-2 { grid-area: 1 / 1 / 2 / 2; }
  .about__item-1 { grid-area: 1 / 2 / 3 / 3; }
  .about__item-4 { grid-area: 2 / 1 / 4 / 2; }
  .about__item-3 { grid-area: 3 / 2 / 4 / 3; }
}
@media (max-width: 680px) {
  .about{
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
  }
  .about__item-1 { display: none; }
  .about__item-4{
    padding: 25px;
  }
  .about__item-4 > p{
    font-size: 18px;
  }
  .about__item-4 > .btn{
    padding: 12px;
    font-size: 18px;
  }
}

/* about */

/* video */

.video h2{
  font-size: 48px;
  font-weight: 300;
}

.video__grid{
  margin-top: 66px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(300px, 1fr) );
  grid-column-gap: 35px;
  grid-row-gap: 35px;
}
.video__grid-item{
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.video__grid-item .video{
  border-radius: 8px;
  overflow: hidden;
}
.video__grid-item .video video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video__grid-item span{
  font-size: 18px;
}

@media (max-width: 680px) {
  .video h2{
    font-size: 36px;
    font-weight: 300;
  }
  .video__grid{
    margin-top: 46px;
    margin-bottom: 40px;
  }
}

/* video */

/* about_us */

.about_us{
  padding: 30px 0;
}
.about_us h2{
  font-size: 48px;
  font-weight: 300;
}
.about_us__grid{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 250px);
  grid-column-gap: 35px;
  grid-row-gap: 35px;
}
.about_us__grid-item-2, .about_us__grid-item-3{
  padding: 45px;
  background-color: #E8DED2;
}
.about_us__grid-item-1 { grid-area: 1 / 1 / 3 / 2; }
.about_us__grid-item-2 { grid-area: 1 / 2 / 3 / 5; }
.about_us__grid-item-3 { grid-area: 3 / 1 / 4 / 3; }
.about_us__grid-item-4 { grid-area: 3 / 3 / 4 / 5; }
.about_us__grid-item{
  border-radius: 8px;
  overflow: hidden;
}
.about_us__grid-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about_us__grid-item p{
  font-size: 18px;
  line-height: 1.2;
}
@media (max-width: 1000px) {
  .about_us__grid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); 
  }
  .about_us__grid-item-1 { grid-area: 1 / 1 / 3 / 2; }
  .about_us__grid-item-2 { grid-area: 1 / 2 / 3 / 5; }
  .about_us__grid-item-3 { grid-area: 3 / 1 / 4 / 5; }
  .about_us__grid-item-4 { display: none;}
}
@media (max-width: 1000px) {
  .about_us__grid{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .about_us h2{
    font-size: 36px;
  }
  .about_us__grid-item-2, .about_us__grid-item-3{
    padding: 25px;
  }
}

/* about_us */

/* footer */

.footer{
  background-color: #E8DED2;
  padding: 34px 0 110px;
}
.footer__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__link{
  display: flex;
  align-items: center;
  gap: 25px;
}
.footer__link > .links{
  display: flex;
  align-items: center;
  gap: 7px;
}
.footer__link > .links > a{
  display: block;
  width: 35px;
  height: 35px;
}
.footer__link > .links > a > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer__text{
  margin-top: 80px;
  border-top: 1px solid rgba(192, 163, 129, .5);
  padding-top: 25px;
}
.footer__text > p{
  font-size: 14px;
  line-height: 1.1;
}

@media (max-width: 1200px) {
  .footer{
    padding: 30px 0 40px;
  }
  .footer__content{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .footer__text p{
    text-align: center;
  }
}
@media (max-width: 1080px) {
  .footer__content .header__nav{
    display: block;
  }
}
@media (max-width: 728px) {
  .footer__content{
    gap: 40px;
  }
  .footer__content .header__nav ul{
    flex-direction: column;
  }
  .footer__content .header__nav ul li{
    text-align: center;
  }
  .footer__text{
    margin-top: 40px;
  }
}

/* footer */